@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease;
}

.mat-card {
  margin: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

